body{
    background-color: honeydew;
}
.menu>a{
    font-variant: small-caps;
    font-size: 30px;
    color: purple;
}
.menu>a:visited{
    color: green;
}
.menu>a:hover{
    color: red;
    position:relative;
    top: -8px;
}
.menu>a:link{
    text-decoration: none;
    margin-top: 40px;
}
h1{
    font-variant: normal;
    color: purple;
    line-height: 3.0;
    background-color: blanchedalmond;
}
p{
    font-size: 25px;
    color: rgb(173, 72, 72);
}
#link{
    color: rgb(196, 67, 67);
    text-decoration: none;
}
